version: "3.9"

services:
  web:
    container_name: htmlcicd_web
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - .:/usr/share/nginx/html:ro
    restart: always
